<!DOCTYPE html>
<html>
<head>
	<title>Create New Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
</head>
<body>

	<h1>Create A New Pokemon</h1>

	<form action="/pokemon/<%=index%>?_method=PUT" method=POST>
		NAME: <input type="text" name="name" value=<%= pokemon.name %>><br>
		IMG URL: <input type="text" name="img" value=<%= pokemon.img %>><br>
		TYPE: <input type="text" name="types" value=<%= pokemon.type %>><br>
		HP: <input type="text" name="hp" value=<%= pokemon.stats.hp %>><br>
		ATTACK: <input type="text" name="attack" value=<%= pokemon.stats.attack %>><br>
		DEFENSE: <input type="text" name="defense" value=<%= pokemon.stats.attack %>><br>
		<input type="submit" name="" value="Submit Edits">

	</form>

	<a href="/pokemon/">Back</a>


</body>
</html>