<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<form action="/" method="POST">
	<div id="show-container">

		<div id="detail-container">

			<div id="image-container">
				Poke-pic URL: <input type="text" name="img" value="<%= data.img %>">
			</div>

			<div id="info-container">

				<div id="name-and-number">
					Name: <input type="text" name="name" value="<%= data.name %>" value="<%= data.img %>"> No: <input type="text" name="id" value="<%= data.id %>">
				</div>

				<div id="types"> 
					Type 1:<input type="text" name="typeOne" value="<%= data.type[0] %>">
					Type 2:<input type="text" name="typeTwo" value="<%= data.type[1] %>">
				</div>

				<div id="height-and-weight">
					Height:<input type="text" name="height" value="<%= data.misc.height %>">
					Weight:<input type="text" name="weight" value="<%= data.misc.weight %>">
				</div>

			</div>

		</div>

		<div id="description-container">
			
			<div class="stat-container" id="hp">HP:<input type="text" name="hp" value="<%= data.stats.hp %>"></div>

			<div class="stat-container" id="attack">Attack:<input type="text" name="attack" value="<%= data.stats.attack %>"></div>

			<div class="stat-container" id="defense">Defense:<input type="text" name="defense" value="<%= data.stats.defense %>"></div>

			<div class="stat-container" id="spattack">SP Attack:<input type="text" name="spattack" value="<%= data.stats.spattack %>"></div>

			<div class="stat-container" id="spdefense">SP Defense:<input type="text" name="spdefense" value="<%= data.stats.spdefense %>"></div>

			<div class="stat-container" id="speed">Speed:<input type="text" name="speed" value="<%= data.stats.speed %>"></div>

		</div>

		<div id="edit-container">
			<input type="submit" name="click" value="edit pokemon!" /> | <a href="/">return</a>

		</div>
	</div>
</form>

</body>
</html>