<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
</head>
<body>
	<h1>Pokemon Inventory</h1>

	<form action="./new/" method="GET">
		<button>Create New Pokemon</button>
	</form>

	<ul>
		<% for(let i = 0; i < pokemon.length; i++) {%>
			<div class="poke-container">
				<li><a href="/pokemon/<%= i %>"><%= pokemon[i].name%></a></li>
				<img src=<%= pokemon[i].img%>>
				
				<form action="/pokemon/<%= i %>?_method=DELETE" method=POST>
					<button type=submit>Delete Pokemon</button>
				</form>

				<form action="/fruits/<%=i%>?_method=DELETE" method="POST">
					<button type="submit">Delete</button>
				</form>

			</div>

		<% } %>
	</ul>



</body>
</html>