<!DOCTYPE html>
<html>
<head>
	<title><%=pokemon.name; %></title>
</head>
<body>
	<a href="/pokemon"> &lt; Go back to the 151!</a>
	<h1><%=pokemon.name; %></h1>
	<img src="<%=pokemon.img; %>">
	<br>
	TYPE(S):
	<br>
	<ul>
		<% for (let i = 0; i < pokemon.type.length; i++) { %>
		<li><%=pokemon.type[i]; %></li> 
		<% } %>
	</ul>
	<br>
	HP:
	<%=pokemon.stats.hp; %>
	<br>
	ATTACK:
	<%=pokemon.stats.attack; %>
	<br>
	DEFENSE:
	<%=pokemon.stats.defense; %>
	<br>
	SPEED:
	<%=pokemon.stats.speed; %>
	
</body>
</html>