<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>View Pokemon</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div id="show-container">

	<div id="detail-container">

		<div id="image-container">
			<img id="picture-render" src="<%= data.img %>">
		</div>

		<div id="info-container">

			<div id="name-and-number"> Name: <%= data.name %> | No: <%= data.id %></div>

			<div id="types"> 
				Type<% if (data.type.length > 1) { %>s<% } %>:

				<% for (let i = 0; i < data.type.length; i++) { %>
					<%= data.type[i] %><% if (i != data.type.length - 1) { %>, <% } else { %>.
					<% } 
				}%>
			</div>

			<div id="height-and-weight">
				Height: <%= data.misc.height %> | Weight: <%= data.misc.weight %>
			</div>

		</div>

	</div>

	<div id="description-container">
		
		<div class="stat-container" id="hp">HP: <%= data.stats.hp %></div>

		<div class="stat-container" id="attack">Attack: <%= data.stats.attack %></div>

		<div class="stat-container" id="defense">Defense: <%= data.stats.defense %></div>

		<div class="stat-container" id="spattack">SP Attack: <%= data.stats.spattack %></div>

		<div class="stat-container" id="spdefense">SP Defense: <%= data.stats.spdefense %></div>

		<div class="stat-container" id="speed">Speed: <%= data.stats.speed %></div>

	</div>

	<div id="edit-container">
		edit | delete | <a href="/">return</a>

	</div>
</div>

</body>
</html>